* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    position: relative;

    &.contrast {
        *,
        *::placeholder {
            background: black !important;
            color: yellow !important;
        }

        .hamburger {
            span {
                background: yellow !important;
            }
        }

        .buttons {
            .active {
                background: yellow !important;
            }
        }

    }
}

$max-width: 1100px;
$nav-height: 100px;
$main-color: rgb(218, 181, 59);

.main {
    margin-top: $nav-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .main {
        margin-top: 0;
    }
}

%section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    max-width: $max-width;
    padding: 100px 20px;
}

%info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    width: 700px;
    border-left: 2px solid $main-color;
    padding-left: 20px;
    margin-bottom: 70px;
    position: relative;

    h2 {
        font-size: 2rem;
        line-height: 1.5rem;
        font-weight: normal;
    }

    p {
        color: #777;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
}

@media (max-width: 1118px) {
    %info {
        align-self: center;
        width: calc(100vw - 40px);

        p {
            width: 80%;
        }
    }
}

@media (max-width: 500px) {
    %info {
        p {
            font-size: 0.9rem;
            width: 100%;
        }
    }
}

%info-after {
    color: rgb(243, 243, 243);
    position: absolute;
    left: 3px;
    top: -55px;
    font-size: 178px;
    font-family: sans-serif;
    z-index: -1;
}

